.panel {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80vh;
  width: 670px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.panel2{
    display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80vh;
  width: 870px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 4;
  border-bottom: 1px solid #dddddd;
}
.div2 {
  grid-area: 3 / 1 / 8 / 4;
}
.div3 {
  grid-area: 1 / 4 / 8 / 8;
  border-left: 1px solid #dddddd;
}

.div4{
    grid-area: 1/8/8/10;
}

.div1 img {
  height: 100%;
  margin: auto;
}

.div5{
  /* background-color: coral; */
  border-left: 1px solid #dddddd; 
   grid-area: 1/4/-1/-1;

}

.div6{
  padding-top: 26px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  grid-area: 1/1/-1/-1;
  background-color: white;
}

.info >*:not(h2){
  margin: 4px 0px;
  font-size: medium;
}

.info{
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.bar{
  margin: 14px 0px;
  height: 1px;
  background-color:  #dddddd ;
  /* flex: 1 0; */
}
